/* Navigation Bar Styling*/
.top_nav_bar:link {
    color:black;
}
.top_nav_bar:visited {
    color: black;
}
.top_nav_bar {
    padding: 20px;
    font-size: 150%;
    float: right;
    margin: 10px;
    margin-top: 50px;
    top: 15px;
    display: inline-block;
    border: 1px solid white;
    border-radius: 15px;
    text-decoration: none;

}
.top_nav_bar:hover {
    background-color: #ddd;
    color: black;
    text-decoration: none;
}

.top_nav_bar:active {
    background-color:darkgray;
    color: black;
    text-decoration: none;
}


/* Nav Bar Banner */
.nav_banner {
    position: absolute;
    width: 100%;
    height: 180px;
    left: 0px;
    top: 0px;

    background-color: #C4C4C4;
}
/*Nav Footer Banner*/
.nav_footer_banner {
    position: absolute;
    width: 100%;
    height: 180px;
    left: 0px;
    bottom: 0px;

    background-color: #C4C4C4;
}

/*Logo Placement*/
/* Nav Bar */
#logo_placement {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 150px;
    top: 75px;

    background: #C4C4C4;
}



/* Page Name */
.Page_Name {
    position: absolute;
    width: 424px;
    height: 43px;
    left: 29px;
    top: 52px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 36px;

    color: #000000;
}

/* Text */
.text_box {
    position: absolute;
    width: 99%;
    align-content: center;
    height: 343px;
    padding: 1px;
    margin: 5px;
    top: 180px;

    background: #C4C4C4;
    border-radius: 30px;
}

/*Search Bar*/
.search_bar {
    right: 1px;
    position: absolute;
    top:120px;
}


