.page {
	display: block;
	overflow: auto;
	padding: 80px;
	margin-bottom: 20px;
	height: 100%;
	text-align: center;
	margin-left: 4%;
	margin-right: 4%;
	/* margin-top: 7%; */
	background-color: #F2F2F2;
	border: #E0E0E0 20px solid;
	border-radius: 20px;
}

.tabs {
	margin: 4%;
	text-align: center;
} 

.tabs a {
	display: block;
	text-decoration: none;
	color: black;
	margin-left: 5%;
	margin-right: 5%;
	padding: 2% 0;
	background-color: darkgray;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	width: 23.33%;
}

p .page{
	position: absolute;
	top:0;
	padding-bottom: 10px;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
	width: 100%; /* Full width */
	padding: 12px; /* Some padding */  
	border: 1px solid #ccc; /* Gray border */
	border-radius: 4px; /* Rounded borders */
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	margin-top: 6px; /* Add a top margin */
	margin-bottom: 16px; /* Bottom margin */
	
  }

  /* Style the submit button with a specific background color etc */
input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
	background-color: #45a049;
  }
  
