.tabs {
	margin: 4%;
	text-align: center;
} 

.tabs a {
	display: block;
	text-decoration: none;
	color: black;
	margin-left: 5%;
	margin-right: 5%;
	padding: 2% 0;
	background-color: darkgray;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	float: left;
	width: 23.33%;
}

.tabs a.active {
	background-color: #E0E0E0;
	color: black;
}

.page {
	display: block;
	overflow: auto;
	padding: 20px;
	margin-bottom: 20px;
	height: 100%;
	text-align: center;
	margin-left: 4%;
	margin-right: 4%;
	margin-top: 3%;
	background-color: #F2F2F2;
	border: #E0E0E0 20px solid;
	border-radius: 20px;
}

.page div.right {
	display: block;
	float: right;
	width: 48%;
	text-align: left;
}

.page div.left {
	display: block;
	float: left;
	right: 5%;
	width: 48%;
	text-align: left;
}

.page div#title {
	display: block;
	text-align: center;
}

.page div.content {
	float: left;
  	width: 50%;
}