.tabs {
	border-top: 2px solid rgba(255, 255, 255, 0.2);
	padding-top: 4%;
	padding-bottom: 0;
	margin: 4%;
	margin-bottom: 0;
	text-align: center;
} 

.tabs a {
	display: block;
	text-decoration: none;
	margin-left: 5%;
	margin-right: 5%;
	padding: 2% 0;
	float: left;
	width: 40%;
	color: white;
	font-size: 1.4vmax;
}

.tabs a.active {
	background-color: rgba(255, 255, 255, 0.15);
}

.tabs a:hover {
	background-color: rgba(255, 255, 255, 0.15);
}

.page {
	background: rgba(255, 255, 255, 0.9);
	display: block;
	overflow: auto;
	padding: 5%;
	margin-bottom: 20px;
	height: 100%;
	text-align: center;
	margin-left: 4%;
	margin-right: 4%;
	margin-top: 3%;
}

.page div.right {
	display: block;
	float: right;
	width: 48%;
	text-align: left;
}

.page div.left {
	display: block;
	float: left;
	right: 5%;
	width: 48%;
	text-align: left;
}

.page div#title {
	display: block;
	text-align: center;
}

.page div.content {
	float: left;
  	width: 50%;
}

img {
	width: 50%;
	height: 50%;
}