.tabs {
	/* border-top: 2px solid rgba(255, 255, 255, 0.2);
	padding-top: 4%;
	padding-bottom: 0;
	margin-bottom: 0; */
	text-align: center;
} 

.tabs a {
	text-decoration: none;
	/* display: block;
	margin-left: 4%;
	margin-right: 4%;
	padding: 2% 0;
	float: left;
	width: 42%; */
	/* color: white;
	font-size: 1.4vmax; */
}

.tabs#active {
	background-color: rgba(255, 255, 255, 0.4);
}

.tabs:hover {
	background-color: rgba(255, 255, 255, 0.4);
}

ul {
	list-style: none;
	padding-left: 0;
	font-size: 1.5vmax;
	color:rgba(0, 0, 0, 0.548);
}

ul li {
	border-top: solid 1px rgba(0, 0, 0, 0.25);
	padding: 0.5em 0;
}

ul li:first-child {
	border-top: 0;
	padding-top: 0;
}

.page {
	background: rgba(255, 255, 255, 0.8);
	display: block;
	overflow: hidden;
	padding: 5%;
	margin-bottom: 20px;
	height: 100%;
	text-align: center;
	/* margin-left: 4%;
	margin-right: 4%; */
}

.page div.right {
	display: block;
	float: right;
	width: 48%;
	text-align: left;
}

#right-panel {
	overflow: scroll;
	height: 100%;
}

.page div.left {
	display: block;
	height: 100%;
	/* contain: content; */
	float: left;
	right: 5%;
	width: 48%;
	text-align: left;
}

.page div#title {
	display: block;
	text-align: center;
}

.page div.content {
	float: left;
  	width: 50%;
}

img {
	width: 50%;
	height: 50%;
}