

    #topnav { 
        border: 1px solid;
        margin: 0px;
        padding: 0px;
        width: 1500px;
        height: 150px;
        background-color: rgb(196, 196, 196);
        font-family: Arial, Helvetica, sans-serif;
    }
    .bar {
        text-decoration:none;
        color:black;
        float: right;
        margin: 20px;
        padding: 80px 10px;
    }
    form.example {
        position: absolute;
        top: 250px;
        left: 25%;
    }
    .guide {
        border: 1px solid;
        width: 250px;
        height: 300px;
        border-radius: 25px;
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        left: 30%;
        top: 40%;
        text-align: center;
        background-color: rgb(196, 196, 196);
        display: block;
    }
    .area {
        border: 1px solid;
        width: 250px;
        height: 300px;
        border-radius: 25px;
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        left: 48%;
        top: 40%;
        text-align: center;
        background-color: rgb(196, 196, 196);
    }
    .navbottom {
        display: block;
        text-align: center;
        padding: 14px 16px;
        position: absolute;
        top: 214px;
        left: 349px;
    }
    .item {
        margin: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        color: black;
        border: 1px solid;
        border-bottom: none;
        padding: 5px 20px;
    }
